header {
  background-color: #0b4f6c;
  color: #1c7cd6;
}
body {
  font-family: "Handlee", cursive;
  background-color: #dcc7be;
}
.btn-primary {
  background-color: #145c9e;
}
.list-header-blue {
  background-color: #145c9e;
  color: white;
}
.list-header-red {
  background-color: rgb(158, 20, 20);
  color: white;
}
.list-header-green {
  background-color: #149e59;
  color: white;
}
.list-header-yellow {
  background-color: #eee01a;
  color: black;
}
.blue-indicator {
  color: #145c9e;
}
.red-indicator {
  color: rgb(158, 20, 20);
}
.green-indicator {
  color: #149e59;
}
.yellow-indicator {
  color: #eee01a;
}
